<!DOCTYPE html>

<html>

    {{>head}}

    <body>


        <!-- header-->
        <header class="row">


            <!-- header content-->
            <div class="col-xs-12 container header-content">






                <div class="col-xs-10  col-xs-offset-1 header-items-container">

                    <div class="col-xs-4 header-item header-item-instagram">
                        <img src="https://lh3.googleusercontent.com/DD5ebCknPGFaNG0k3TkXQ26Ei6ZdGPD7okgMensvAJAP-_qhv49DoQhvVjYLhdVnSNrV7M_Bb4K_le2KdLXQ2D_k1w">
                    </div>

                    <div class="col-xs-4 header-item header-item-search">

                        <input type="text" name="username" placeholder="Search"/>
                        <img src="https://lh3.googleusercontent.com/VA4-cvCGnazxhBdamyiOa5Wp38gLaI_fUSSLFneGZRrGx1sII_W_1B5P5aZVwV9T4iJMXBQcu000T5BkQq4aslkHkg" width="4%" height="auto"/>
                        <i class="fas fa-times"></i>
                    </div>



                    <div class="col-xs-4 header-item header-item-icons">

                    </div>
                </div>






            </div>
            <!-- end header content-->

        </header>
        <!-- end header-->




        <!-- container-->
        <div class="container">

            <!-- profile row-->
            <div class="row">

                <div class="col-xs-12 container">



                    <div class="col-xs-8 col-xs-offset-2 content-container">


                        <!-- profile image container-->
                        <div class="col-xs-4 profile-image-container">

                            <div class="profile-image">
                                <img src="{{user.profile_pic_url}}" width="100%" height="auto"/>
                            </div>

                        </div>
                        <!-- end profile image container-->




                        <!-- profile details-->
                        <div class="col-xs-8 profile-details-container">

                            <div class="col-xs-8 section-top">
                                <div><span>{{user.username}}</span> <button>Edit Profile</button> <button>gear icon</button></div>
                            </div>

                            <div class="col-xs-8 posts-follows-data">
                                <p><span>{{user.edge_owner_to_timeline_media.count}} posts</span> <span>{{user.edge_followed_by.count}} following </span> <span>{{user.edge_follow.count}} followers</span></p>
                            </div>

                            <!-- bio -->
                            <div class="col-xs-12 bio-section">

                                <p>
                                    Lusso Africano->African Luxury 👉Best African's fashion + modern 🇮🇹 style 👉Premium Handmade clothing 👉made UK & Ghana 👉Coming soon - Follow us & like us on Fb 😘
                                </p>

                            </div>
                            <!-- end bio-->



                        </div>
                        <!-- end profile details-->
                    </div>
                    <!-- end content container -->

                </div>


            </div>
            <!-- end profile row-->




            <!-- images row-->

            <div class="row">

                <!-- images-items-container -->
                <div class="col-xs-12 container  images-items-container">

                    <div class="col-xs-10 col-xs-offset-1">

                        {{#user.edge_owner_to_timeline_media.edges}}
                            <div class="col-xs-4 image"> <img src="{{node.thumbnail_src}}" width="100%" />   </div>
                        {{/user.edge_owner_to_timeline_media.edges}}


                    </div>

                </div>
                <!-- end images-items-container -->

            </div>
            <!-- end images row-->

        </div>
        <!-- end container-->

        <!-- font awesome cdn-->
        <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    </body>

</html>