<!DOCTYPE html>

<html>

<head>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>


    <!-- header-->
    <header class="row">


        <!-- header content-->
        <div class="col-xs-12 container header-content">






            <div class="col-xs-10  col-xs-offset-1 header-items-container">

                <div class="col-xs-4 header-item header-item-instagram">
                    <img src="https://lh3.googleusercontent.com/DD5ebCknPGFaNG0k3TkXQ26Ei6ZdGPD7okgMensvAJAP-_qhv49DoQhvVjYLhdVnSNrV7M_Bb4K_le2KdLXQ2D_k1w">
                </div>

                <div class="col-xs-4 header-item header-item-search">

                    <input type="text" name="username" placeholder="Search"/>
                    <img src="https://lh3.googleusercontent.com/VA4-cvCGnazxhBdamyiOa5Wp38gLaI_fUSSLFneGZRrGx1sII_W_1B5P5aZVwV9T4iJMXBQcu000T5BkQq4aslkHkg" width="4%" height="auto"/>
                    <i class="fas fa-times"></i>
                </div>



                <div class="col-xs-4 header-item header-item-icons">

                </div>
            </div>






        </div>
        <!-- end header content-->

    </header>
    <!-- end header-->




    <!-- container-->
    <div class="container">

        <div class="row">

            <div class="col-xs-8 post-container">
                <img src="{{selectedImage}}" width="100%" height="auto"/>
            </div>


        </div>


    </div>
</body>

</html>