

body{
    background-color: #fafafa;

}



header{
    height: 80px;
    background-color: #ffffff;
    position: relative;
    border-bottom: 1px solid lightgray;
}

.header-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*positioning it in middle of header*/
.header-items-container{
    /*background-color: #1b6d85;*/
    position: absolute;
    top: 50%;
    height: 50px;
    transform: translateY(-50%);

}

/*.fa-instagram{*/
    /*font-size: 40px;*/
/*}*/

.header-item{
    height: 100%;
}

.header-item-instagram {
    /*background: url('/images/instagram-logo.png');*/
    /*background-repeat: no-repeat;*/
    /*background-position: center ;*/
    /*background-size: 100px 50px;*/
    position: relative;
}

.header-item-instagram img{
    position: absolute;
    top: 0;
    left: 15%;

}

.header-item-search{
    /*background-color: #8a6d3b;*/
    position: relative;

}

.header-item-search img{
    position: absolute;
    left: 20%;
    top: 40%;
}


.header-item-search input{
    width: 60%;
    position: absolute;
    top: 15px;
    left: 0;
    height: 25px;
    display: block;
    margin: 0 auto;
    border: 1px solid #ededed;
    border-radius: 5px;
}



.header-item-icons{
    background-color: #c4e3f3;
    text-align: right;

}



.header-item-search input[type="text"] {

    background: url('/images/search-icon.png'),
    url('/images/cancel-icon.png');
    background-repeat: no-repeat, no-repeat;
    background-position: 20%, 98% ;
    background-size: 15px 15px, 0px 0px;
    /*border: 1px solid #a9e2ff;*/
    /*padding: 3px;*/
    /*width: 200px;*/
    font-size: 1em;
    padding-left: 25%;
}

.header-item-search input[type="text"]::-webkit-input-placeholder {
    color: lightgray;
}




.header-item-search input[type="text"]:focus+img{
    /*background-image: url('/images/search-icon.png'),*/
    /*url('/images/cancel-icon.png');*/
    /*background-repeat: no-repeat;*/
    /*background-position: 10px, 100%;*/
    /*using font-awesome cancel icon for now---> hiding
    second background image by setting size 0px 0px*/
    /*background-size: 15px 15px, 0px 0px;*/
    /*padding-left: 10%;*/
    left: 2%;
}

/*positioning placeholder text when on focus*/
.header-item-search input[type="text"]:focus{
    padding-left: 8%;
}

.fa-times{
    position: absolute;
    right: 25%;
    top: 42%;
    display: none;
}

.header-item-search input[type="text"]:focus + .fa-times{
    display: block;
    z-index: 100;
}


.content-container{
    background-color: red;
    height: 300px;
}

/*making it responsive*/
.content-container:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}

.profile-image-container{
    /*background-color: #4cae4c;*/
    height: 100%;
}

.profile-details-container{
    padding-top: 60px;
    background-color: #985f0d;
    height: 100%;
}

.section-top, .posts-follows-data{
    margin-bottom: 15px;
}

.profile-image{
    position: relative;
    width: 150px;
    height: 150px;
    /*background-color: red;*/
    transform: translateY(50%);
    margin-left: auto;
    margin-right: auto;


}

.profile-image img{
    border-radius: 50%;
    border: 1px solid #ededed;
    position: absolute;
    top: 0;
    left: 0;
}

.profile-image:after{
    content: "";
    padding-bottom: 100%;
    display: block;
}


.images-items-container{
    background-color: #4cae4c;

    margin-top: 80px;
    padding: 0 !important;

}



.image{
    background-color: red;
    position: relative;
    padding: 8px;
    /*border: 12px solid white;*/
}

.image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 8px;
}

/*making image responsive*/
.image:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}




/*===============error page=======================*/


.error-container h3{
    text-align: center;
    margin-top: 80px;
}

.error-container p{
    font-size: 1.6rem;
    margin-top: 20px;
}

.error-container a{
    text-decoration: none;
}

.header-profile-name{
    text-align: center;
    position: relative;
    background-color: white;
    top: 10px;
    font-size: 1.6rem;

}

.error-page-container{
    height: 80vh;

}

footer.footer-container{
    position: relative;
    width: 100%;
    text-transform: uppercase;
}

.footer-content{
    position: absolute;
    top: 0;
    left: 0;
}

.links-container{
    /*padding-left: 10%;*/
}

.links-container a{
    padding: 0 10px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: #003569;
}

.instagram-copyright{

    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
}


/*===============Single Post page=======================*/